:root {
  --backgroundColor: #222222;
  --textColor: ivory;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, "Helvetica Neue", sans-serif;
}

aside {
  display: inline;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.details > p {
    padding-left: 5px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: var(--textColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, "Helvetica Neue", sans-serif;
    width: 40%;
}

.home > p {
    padding-left: 5px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: var(--textColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, "Helvetica Neue", sans-serif;
}

.aboutPhoto {
  height: 480px;
  width: 700px;
}
.photoOfMe {
  height: 650px;
  width: 480px;
}

footer {
  padding: 3px 0;
  text-align: center;
}

.social > li {
  display: inline-block;
  margin: 0 5px;
}

a {
  color: var(--textColor);
}

a:hover {
  text-shadow: 0 0px 10px ivory;
  color: var(--textColor);
}

@media screen and (max-width: 768px) {
  .detailContainer {
    flex-direction: column;
  }

  nav {
    text-align: center;
  }

  .details > p {
    width:100%;
  }

  .aboutPhoto {
    display: none;
  }
  .photoOfMe {
    object-fit: cover;
  }
}